In [100]:
import pandas as pd

In [101]:
d = pd.concat([
    pd.read_csv(f"~/Documents/case-study-runtimes/{n}.csv",
                names=["name", "actual", "expected", "duration", "browser", "subscript"])
    for n in [10, 50, 100, 500]])
d["duration"] = pd.to_timedelta(d["duration"], unit="s")
d

,name,actual,expected,duration,browser,subscript
0,angular-dart,failed,failed,0 days 00:00:15.358798742,firefox,10
1,angular-dart,failed,failed,0 days 00:00:14.217674971,firefox,10
2,angular-dart,failed,failed,0 days 00:00:14.532881975,firefox,10
3,angular-dart,failed,failed,0 days 00:00:14.362705946,firefox,10
4,angular-dart,failed,failed,0 days 00:00:14.244089127,firefox,10
...,...,...,...,...,...,...
425,vue,passed,passed,0 days 00:02:36.638815880,firefox,500
426,vue,passed,passed,0 days 00:03:05.691179037,firefox,500
427,vue,passed,passed,0 days 00:02:58.570206881,firefox,500
428,vue,passed,passed,0 days 00:02:51.199023008,firefox,500
429,vue,passed,passed,0 days 00:03:07.319319248,firefox,500

In [102]:
expected_failed = d[d["expected"] == "failed"]
false_positives = expected_failed[expected_failed["actual"] == "passed"]


false_positive_rates = pd.DataFrame()
false_positive_rates["rate"] = false_positives.groupby("subscript")["actual"].count() / expected_failed.groupby("subscript")["actual"].count()
false_positive_rates

               rate
subscript
10         0.645455
50         0.304545
100        0.213636
500        0.081818

In [103]:
expected_passed = d[d["expected"] == "passed"]

x = pd.DataFrame()
x["mean"] = expected_passed.groupby("subscript")["duration"].mean()
x["p50"] = expected_passed.groupby("subscript")["duration"].quantile(.5)
x["p95"] = expected_passed.groupby("subscript")["duration"].quantile(.95)
x["p99"] = expected_passed.groupby("subscript")["duration"].quantile(.99)
x

,mean,p50,p95,p99
subscript,,,,
10,0 days 00:00:14.431959165,0 days 00:00:14.247797012,0 days 00:00:16.393191718,0 days 00:00:16.707442760
50,0 days 00:00:26.700697608,0 days 00:00:27.266839027,0 days 00:00:32.043489253,0 days 00:00:34.020431306
100,0 days 00:00:41.832712635,0 days 00:00:43.289833069,0 days 00:00:50.315425681,0 days 00:00:53.906375315
500,0 days 00:02:39.481225998,0 days 00:02:55.070915461,0 days 00:03:14.738797449,0 days 00:03:17.816858520